/* geeft alle html en de volledige body font-family arial, scroll behavior op smooth en margin en padding op 0 zodat er geen white space is */
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

/* deze class geeft de sections onzichtbaarheid */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*  */

/* dit is de class en css voor de navigatie bar, met een gap van 30px tussen de woorden */
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f7;
  padding: 10px;
  font-size: 13px;
  gap: 30px;
}

.nav-bar-phone {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f7;
  padding: 10px;
  gap: 2.5px;
}

#test-container {
  display: none;
  height: 1000vh;
}

.test-container-2 {
  margin-left: 50px;
  font-size: 25px;
  font-weight: bold;
}

.nav-bar-title {
  text-decoration: none;
  color: #000000;
}

/* apple logo links van de navigatie bar */
.apple-logo {
  width: 20px;
}

.apple-logo-2 {
  width: 25px;
}

.apple-logo-3 {
  width: 25px;
  margin-left: 250px;
}

.apple-logo-4 {
  width: 25px;
}

.apple-logo-5 {
  width: 25px;
}

/*  */

/* dit is de class voor de promo banner tekst, deze wordt gecentreerd door gebruik van display flex en center, center */
.promo-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 15px;
  font-weight: lighter;
}

.promo-banner-a {
  color: #000000;
  text-decoration: none;
}

/*  */

/* dit is de main container */
.main {
  background-color: #f5f5f7;
  padding: 50px;
}

.main-title-1 {
  display: flex;
}

.main-title-1-title {
  font-size: 45px;
  font-weight: bold;
  margin: 90px;
}


.main-title-1-help {
  margin-left: 700px;
  margin-top: 50px;
  font-size: 14px;
  font-weight: bold;
}

/* logo van de specialist met een width van 30px */
.specialist-logo {
  flex-wrap: wrap;
  width: 30px;
}

.apple-logo-2-2 {
  width: 25px;
}

.main-title-1-help-2 {
  font-weight: lighter;
  padding-top: 20px;
  text-decoration: none;
  color: #0066d2;
}

.main-title-1-help-2:hover {
  text-decoration: underline;
}

.main-title-1-help-3 {
  font-weight: lighter;
  padding-top: 20px;
  text-decoration: none;
  color: #0066d2;
}

.main-title-1-help-3:hover {
  text-decoration: underline;
}

.main-nav-title {
  text-decoration: none;
  color: #000000;
  margin: -60px;
  font-size: 17px;
  margin-left: 100px;
}

/* als je hovert over de main nav title krijgt het een grijze kleur */
.main-nav-title:hover {
  color: #808080;
}

.main-title-2 {
  display: flex;
  padding: 50px;
}

.main-title-2-none {
  display: flex;
  padding: 50px;
}

.main-title-2-1 {
  font-size: 27.5px;
  margin-left: 42.5px;
  font-weight: bold;
}

.main-title-2-1-hidden {
  font-size: 27.5px;
  margin-left: 42.5px;
  font-weight: bold;
}

.main-title-2-1-responsive {
  display: none;
  font-size: 20px;
  margin-left: 42.5px;
  font-weight: bold;
}

.main-title-2-1-2 {
  font-size: 27.5px;
  margin-left: 42.5px;
  font-weight: bold;
}

.main-title-2-2 {
  margin-top: 2px;
  font-size: 25px;
  font-weight: bold;
  color: #808080;
}

/* dit heeft verbinding met de javascript, zorgt ervoor dat als je op een link klikt dat deze de bold weight en underline behoudt */
.active-link {
  font-weight: bold;
  text-decoration: underline;
}

/*  */

/* dit is de content container */
.content-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  align-items: center;
  margin-top: -50px;
  margin-left: 75px;
}

.content-1 {
  width: 390px;
  height: 485px;
  margin: 20px;
  cursor: pointer;
  border-radius: 18px;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 2px rgb(238, 238, 242);
  transition: transform 0.5s ease;
}

.content-1:hover {
  box-shadow: 3px 3px 3px 3px rgb(238, 238, 242);
  transform: scale(1.01);
}

.content-nieuw {
  font-size: 10px;
  padding: 20px;
  color: #d67000;
  font-weight: bold;
}

.content-nieuw-2 {
  font-size: 10px;
  padding: 20px;
  color: #ffffff;
  font-weight: bold;
}

.content-titel {
  padding: 20px;
  font-size: 27.5px;
  font-weight: bold;
  width: 250px;
}

.content-titel-hidden {
  padding: 20px;
  font-size: 27.5px;
  font-weight: bold;
  width: 250px;
}

.content-titel-responsive {
  display: none;
  padding: 20px;
  font-size: 27.5px;
  font-weight: bold;
  width: 250px;
}

.content-titel-2 {
  padding: 20px;
  font-size: 27.5px;
  font-weight: bold;
  width: 375px;
}

.content-titel-2-watch {
  padding: 20px;
  font-size: 27.5px;
  font-weight: bold;
  width: 375px;
}

.content-titel-watch {
  padding: 20px;
  font-size: 27.5px;
  font-weight: bold;
  width: 325px;
}


/* dit is de class voor iphone image 1 */
.iphone {
  margin-left: 45px;
  margin-right: 45px;
  margin-top: -15px;
  width: 300px;
}

.iphone-2 {
  width: 375px;
  margin-top: 30px;
  margin-left: 6.5px;
  margin-right: 6.5px;
}

.iphone-3 {
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 10px;
  width: 300px;
}

/* container voor de iphone price met justify-content space-between zodat ze uit elkaar staan */
.iphone-price-container {
  display: flex;
  justify-content: space-between;
  margin: 45px;
}

.iphone-price {
  font-size: 14px;
}

.iphone-price-buy {
  width: 70px;
  height: 35px;
  color: #ffffff;
  background-color: #0071e3;
  border-radius: 20px;
  border: none;
  font-size: 17.5px;
  margin-top: -10px;
  cursor: pointer;
}

/* als je over de prijs button hovert wordt het iets lichter blauw */
.iphone-price-buy:hover {
  background-color: #0d79e5;
}

.ipad {
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 15px;
  width: 300px;
}

.accessoires-a {
  text-decoration: none;
  color: black;
}

/*  */

/* dit is de help container */
.help-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -50px;
  margin-left: 75px;
}

.content-2 {
  width: 475px;
  height: 485px;
  margin: 20px;
  cursor: pointer;
  border-radius: 18px;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 2px rgb(238, 238, 242);
  transition: transform 0.5s ease;
}

/* als je hovert over de content, wordt de box-shadow dikker en verandert hij van scale naar 1.01 */
.content-2:hover {
  box-shadow: 3px 3px 3px 3px rgb(238, 238, 242);
  transform: scale(1.01);
}

.help-upper-text {
  font-size: 10px;
  padding: 20px;
  color: #808080;
  font-weight: bold;
}

.content-titel-specialist {
  padding: 20px;
  font-size: 27.5px;
  font-weight: bold;
  width: 450px;
}

.help-image-1 {
  margin-left: 12.5px;
  margin-top: 5px;
  width: 450px;
}

.help-image-2 {
  margin-left: 65px;
  margin-top: -2px;
  width: 350px;
}

/*  */

/* dit is de save container */
.save-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -50px;
  margin-left: 75px;
}

.save-titel {
  padding: 20px;
  font-size: 27.5px;
  font-weight: bold;
  width: 330px;
}

.save-image-1 {
  margin-top: 19px;
  border-radius: 18px;
  width: 475px;
  border: none;
  height: 250px;
}

.save-image-2 {
  margin-left: 10px;
  border-radius: 18px;
  margin-top: -15px;
  width: 450px;
}

/*  */

/* content-3 */
.content-3 {
  width: 325px;
  height: 485px;
  margin: 20px;
  cursor: pointer;
  border-radius: 18px;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 2px rgb(238, 238, 242);
  transition: transform 0.5s ease;
}

.content-3:hover {
  box-shadow: 3px 3px 3px 3px rgb(238, 238, 242);
  transform: scale(1.01);
}

.description-title {
  padding: 20px;
  font-size: 27.5px;
  font-weight: bold;
  width: 350px;
}

.content-description {
  padding: 20px;
  font-size: 17.5px;
  margin-top: -30px;
  width: 325px;
}

.accessoires-image-1 {
  border-radius: 18px;
  margin-left: 10px;
  width: 375px;
}

.accessoires-image-2 {
  border-radius: 18px;
  margin-top: 75px;
  margin-left: 5px;
  width: 375px;
}

.accessoires-image-3 {
  border-radius: 18px;
  margin-top: 45px;
  margin-left: 45px;
  margin-right: 45px;
  width: 225px;
}

.accessoires-title {
  padding: 20px;
  font-size: 17px;
  font-weight: bold;
  width: 180px;
  margin-top: -30px;
}

.accessoires-title-2 {
  padding: 20px;
  font-size: 17px;
  font-weight: bold;
  width: 250px;
  margin-top: -30px;
}

.accessoires-title-3 {
  padding: 20px;
  font-size: 17px;
  font-weight: bold;
  width: 220px;
  margin-top: -30px;
}

.accessoires-nieuw {
  font-size: 10px;
  padding: 20px;
  margin-top: 20px;
  color: #d67000;
  font-weight: bold;
}

.accessoires-price {
  font-size: 14px;
  margin-left: 20px;
}

/*  */

/* content-4 */
.content-4 {
  width: 550px;
  height: 485px;
  margin: 20px;
  cursor: pointer;
  border-radius: 18px;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 2px rgb(238, 238, 242);
  transition: transform 0.5s ease;
}

/* transformeert de grootte naar 1.01 als je erover hovert */
.content-4:hover {
  box-shadow: 3px 3px 3px 3px rgb(238, 238, 242);
  transform: scale(1.01);
}

.content-4-2 {
  width: 550px;
  height: 485px;
  margin: 20px;
  cursor: pointer;
  border-radius: 18px;
  background-color: #2d566a;
  box-shadow: 2px 2px 2px 2px rgb(238, 238, 242);
  transition: transform 0.5s ease;
}

.content-4-2:hover {
  box-shadow: 3px 3px 3px 3px rgb(238, 238, 242);
  transform: scale(1.01);
}

.configuration-title {
  width: 350px;
  padding: 20px;
  font-size: 27.5px;
  font-weight: bold;
}

.configuration-title-black {
  padding: 20px;
  font-size: 27.5px;
  font-weight: bold;
  width: 320px;
  margin-right: 75px;
  color: #ffffff;
}

.configuration-title-2 {
  padding: 20px;
  font-size: 27.5px;
  font-weight: bold;
  width: 450px;
}

.configuration-image-1 {
  border-radius: 18px;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 37px;
  width: 425px;
}

.configuration-image-2 {
  border-radius: 18px;
  margin-left: 115px;
  margin-right: 115px;
  width: 180px;
}

.configuration-image-3 {
  border-radius: 18px;
  margin-left: 135px;
  margin-right: 115px;
  width: 210px;
}

.configuration-image-4 {
  border-radius: 20px;
  width: 250px;
  margin-left: 115px;
  margin-top: 10px;
}

.configuration-image-5 {
  border-radius: 18px;
  width: 400px;
  margin-top: 50px;
}

/*  */

.compatible-title-1 {
  padding: 20px;
  font-size: 27.5px;
  font-weight: bold;
  width: 275px;
}

.compatible-title-2 {
  padding: 20px;
  font-size: 27.5px;
  font-weight: bold;
  width: 350px;
}

.compatible-image-1 {
  width: 310px;
  border-radius: 18px;
  margin-left: 65px;
  margin-top: -7.5px;
}

.compatible-image-2 {
  width: 425px;
  border-radius: 18px;
}

.compatible-image-3 {
  border-radius: 18px;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 10px;
  width: 425px;
}

.compatible-image-4 {
  border-radius: 18px;
  margin-top: 15px;
  margin-left: 95px;
  margin-right: 95px;
  width: 235px;
}

/*  */

/* content-5 */
.content-5 {
  width: 390px;
  height: 485px;
  margin: 20px;
  cursor: pointer;
  border-radius: 18px;
  background-color: #1d1d1f;
  box-shadow: 2px 2px 2px 2px rgb(238, 238, 242);
  transition: transform 0.5s ease;
}

.content-5:hover {
  box-shadow: 3px 3px 3px 3px rgb(238, 238, 242);
  transform: scale(1.01);
}

.description-title-black {
  padding: 20px;
  font-size: 27.5px;
  font-weight: bold;
  width: 350px;
  color: #ffffff;
}

.stores-image-1 {
  border-radius: 18px;
  margin-left: 55px;
  margin-top: 6.5px;
  width: 275px;
}

/*  */

/* dit is de footer-containers, met display flex, en flex direction column die zorgt dat het een column display krijgt */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f7;
}

.footer-description-1 {
  font-size: 12px;
  width: 950px;
  color: #808080;
}

.footer-description-2 {
  font-size: 12px;
  width: 950px;
  color: #808080;
}

.footer-line {
  width: 950px;
}

.footer-nav {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  margin-right: 750px;
  padding: 20px;
  color: #424245;
}

.footer-nav a {
  text-decoration: none;
  color: #424245;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-logo {
  width: 15px;
  height: 15px;
  margin-top: -2px;
}

.footer-nav-2 {
  display: flex;
}

.footer-nav-container {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-left: 75px;
}

.footer-nav-2-title {
  font-weight: bold;
  opacity: 0.75;
}

.footer-nav-2-title-2 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  opacity: 0.75;
}

.footer-nav-2 a {
  margin-top: 10px;
  margin-bottom: 2.5px;
  color: #424245;
  text-decoration: none;
  width: 99.9%;
}

.footer-nav-2 a:hover {
  text-decoration: underline;
}

.footer-extra-container {
  display: flex;
  font-size: 12px;
  color: #808080;
  margin-right: 335px;
  margin-top: 25px;
}

.footer-extra-container a {
  color: #0066cc;
}

.footer-extra-container-2 {
  display: flex;
}

.footer-extra-2 {
  margin-right: 575px;
  font-size: 12px;
  color: #808080;
}

.footer-extra-container-2 a {
  font-size: 12px;
  color: #808080;
  text-decoration: none;
}

.footer-extra-container-3 {
  display: flex;
  margin-top: 10px;
  margin-right: 264px;
}

.footer-extra-container-3 a {
  font-size: 12px;
  text-decoration: none;
  margin-right: 5px;
  margin-left: 5px;
  color: #424245;
  margin-bottom: 35px;
}

.footer-extra-container-3 a:hover {
  text-decoration: underline;
}

/*  */

@media only screen and (max-width: 600px) {
  /* media query die onder 600 width (telefoon) de website responsive maakt */

  .nav-bar {
    display: none;
  }

  .nav-bar-phone {
    display: flex;
  }

  .main-nav {
    display: none;
  }

  .main {
    padding-left: 0px;
    padding-top: 0px;
  }

  .content-container {
    margin-left: 35px;
    padding-right: 0px;
  }

  .main-title-2-1 {
    font-size: 20px;
    padding: 0px;
    margin-left: 7.5px;
  }

  .main-title-2-1-hidden {
    display: none;
  }

  .main-title-2-1-responsive {
    display: flex;
  }

  .content-1 {
    margin: 5px;
    width: 250px;
  }

  .content-titel-hidden {
    display: none;
  }

  .content-titel-responsive {
    display: flex;
  }

  .iphone {
    width: 225px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 5px;
  }

  .content-titel-2 {
    width: 300px;
  }

  .content-titel-2-watch {
    width: 200px;
  }

  .iphone-2 {
    width: 235px;
    margin-top: 110px;
    border-radius: 18px;
    margin-left: 6.5px;
    margin-right: 6.5px;
  }

  .iphone-3 {
    width: 225px;
    margin-top: 45px;
    margin-left: 15px;
    margin-right: 5px;
  }

  .ipad {
    width: 240px;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 25px;
  }

  .iphone-price {
    margin-top: 0px;
    margin-right: 5px;
  }

  .content-titel {
    padding-right: 5px;
    width: 200px;
  }

  .help-container {
    margin-left: 0px;
    display: none;
  }

  .save-container {
    margin-left: 0px;
    display: none;
  }

  .description-title {
    width: 250px;
  }

  .content-description {
    width: 225px;
  }

  .accessoires-image-1 {
    width: 240px;
    margin-top: 22px;
  }

  .accessoires-image-2 {
    width: 240px;
  }

  .main-title-2-2 {
    font-size: 27px;
  }

  .main-title-1-title {
    min-width: 275px;
    font-size: 35px;
    margin: 75px;
  }

  .main-title-1-help {
    display: none;
  }

  .main-title-2-none {
    display: none;
  }

  .main-title-2-2 {
    display: none;
  }

  .footer-description-1 {
    width: 300px;
  }

  .footer-description-2 {
    width: 300px;
  }

  .footer-nav-container {
    width: 5px;
    margin-right: 30px;
  }

  .footer-extra-2 {
    display: none;
  }

  .footer-nav-2 {
    display: none;
  }

  .footer-line {
    width: 300px;
  }

  .footer-extra-container {
    width: 300px;
    margin-left: 350px;
  }

  .footer-extra-container-3 {
    display: none;
  }
}